@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Segui";
  src: url(../fonts/segoeui.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Segui";
  src: url(../fonts/seguisb.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

$accidental-ff: "Segui", segoe;

@mixin dashed-btn($font-w, $font-s) {
  padding: 0 0 2px;
  font: $font-w $font-s/1 $accidental-ff;
  letter-spacing: .025em;
  color: var(--dark-blue);
  background: none;
  border: none;
  border-bottom: 1px dashed currentColor;
  cursor: pointer;
  outline: none;
  transition: border-color .1s ease-in-out;

  &:hover {
    border-color: transparent;
  }
}

:root {
  --dark-blue: #5d6f7b;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $accidental-ff;
  background: #fafbfc url(../img/bg.jpg) no-repeat 50% 50%/cover;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  width: 81vw;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: block;

    & img {
      display: block;
      width: 14vw;
    }
  }

  &__profile {
    display: block;
    width: 2vw;
    height: auto;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    & img {
      display: block;
      width: 100%;
    }
  }
}


.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 255px 255px;
  grid-gap: 30px;
  margin: 20px 0 0;

  &._home {
    display: none;
  }
}

.category {
  position: relative;
  padding-top: 50px;
  background: #dddddd;
  overflow: hidden;

  &._wide {
    grid-column: 2/span 2;
  }

  &._materials {
    background: #8269be;
  }
  &._microelectronic {
    background: #17b539;
  }
  &._cable {
    background: #fb9b2a;
  }
  &._plastic {
    background: #0bbcd6;
  }
  &._packing {
    background: #e75152;
  }
  &._calculate {
    background: #5f89a9 url(../img/percent.png) no-repeat -50px calc(100% + 75px);
  }

  &:not(._list) {
    cursor: pointer;
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 200px;
    transition: transform .3s ease-in-out;
    user-select: none;
    pointer-events: none;
    will-change: transform;

    .category._list:hover & {
      transform: translate(0, 0);
    }
  }

  &__info {
    position: relative;
    top: 65%;
    color: #ffffff;
    transition: top .2s ease-in-out;
    will-change: top;

    .category._list:hover & {
      top: 0;
    }
  }

  &__infoTitle {
    display: table;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .024em;
    color: currentColor;

    .category._list &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 7px;
      height: 4px;
      margin-left: 8px;
      background: url(../img/arrow-down-wh.png) no-repeat 50% 50%;
    }

    & span {
      border-bottom: 1px solid fade-out(#ffffff, 0.8);
    }

    .category:hover &::after {
      transform: rotate(180deg);
    }

    .category:not(._list):hover & span {
      border-color: currentColor;
    }
  }

  &__infoList {
    max-width: 80%;
    margin: 20px auto 0;
    padding: 0;
    list-style: none;
  }
  &__infoListItem {
    margin: 5px 0;

    & a {
      font-size: 1vw;
      text-decoration: none;
      letter-spacing: .025em;
      color: currentColor;
      border-bottom: 1px solid fade-out(#ffffff, 0.8);

      &:hover {
        border-color: currentColor;
      }
    }
  }
}

.order {

  &__slider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-column: 1/span 4;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__sliderItem {
    display: inline-block;
    vertical-align: top;
    background: #eeeeee;
  }

  &__stage {
    background: #eeeeee;

    &._wide {
      grid-column: 2/span 2;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 81vw;
  padding: 0 0 35px;

  &__cr {
    margin: 0;
    font-size: .9vw;
    font-family: "Lato-Light";
    letter-spacing: .025em;
    color: var(--dark-blue);
  }

  &__about {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @include dashed-btn(500, 1vw);

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 6px;
      background: url(../img/arrow-down.png) no-repeat 50% 50%;
      transition: bottom .2s ease-in-out;
      will-change: bottom;
    }

    &:hover::after {
      bottom: -20px;
    }
  }

  &__feedback {

  }

  &__feedbackCall {
    @include dashed-btn(400, 1vw);
  }

  &__feedbackPhone {
    margin-left: 30px;
    font: 500 .9vw/1 $accidental-ff;
    letter-spacing: .025em;
    color: var(--dark-blue);
  }
}

@media screen and (min-width: 1800px) {
  .home {
    grid-template-rows: 30vh 30vh;
  }

  .category {

    &__info {
      top: 75%;
    }
  }
}