@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Segui";
  src: url(../fonts/segoeui.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Segui";
  src: url(../fonts/seguisb.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Segui";
  src: url(../fonts/seguibl.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

$accidental-ff: "Segui", segoe;

@mixin dashed-btn($font-w, $font-s) {
  padding: 0 0 2px;
  font: $font-w $font-s/1 $accidental-ff;
  letter-spacing: .025em;
  color: var(--dark-blue);
  background: none;
  border: none;
  border-bottom: 1px dashed currentColor;
  cursor: pointer;
  outline: none;
  transition: border-color .1s ease-in-out;

  &:hover {
    border-color: transparent;
  }
}

:root {
  --accidental-tc: #373737;
  --dark-blue: #5d6f7b;
}

::selection {
  color: #eeeeee;
  background: #005c9b;
}

body {
  margin: 0;
  padding: 0;
  font-family: $accidental-ff;
  background: #fafbfc url(../img/bg.jpg) no-repeat 50% 50%/cover;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 81vw;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: block;

    & img {
      display: block;
      width: 14vw;
    }
  }

  &__profile {
    display: block;
    width: 2vw;
    height: auto;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    & img {
      display: block;
      width: 100%;
    }
  }
}


.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 255px 255px;
  grid-gap: 30px;
  margin: 20px 0 0;

  &._home {
    display: none;
  }
}

.category {
  position: relative;
  padding-top: 50px;
  overflow: hidden;

  &._wide {
    grid-column: 2/span 2;
  }

  &._materials {
    background: #8269be;
  }
  &._microelectronic {
    background: #17b539;
  }
  &._cable {
    background: #fb9b2a;
  }
  &._plastic {
    background: #0bbcd6;
  }
  &._packing {
    background: #e75152;
  }
  &._calculate {
    background: #5f89a9 url(../img/percent.png) no-repeat -50px calc(100% + 75px);
  }

  &:not(._list) {
    cursor: pointer;
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 200px;
    transition: transform .3s ease-in-out;
    user-select: none;
    pointer-events: none;
    will-change: transform;

    .category._list:hover & {
      transform: translate(0, 0);
    }
  }

  &__info {
    position: relative;
    top: 65%;
    color: #ffffff;
    transition: top .2s ease-in-out;
    will-change: top;

    .category._list:hover & {
      top: 0;
    }
  }

  &__infoTitle {
    display: table;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .024em;
    color: currentColor;

    .category._list &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 7px;
      height: 4px;
      margin-left: 8px;
      background: url(../img/arrow-down-wh.png) no-repeat 50% 50%;
    }

    & span {
      border-bottom: 1px solid fade-out(#ffffff, 0.8);
    }

    .category:hover &::after {
      transform: rotate(180deg);
    }

    .category:not(._list):hover & span {
      border-color: currentColor;
    }
  }

  &__infoList {
    max-width: 80%;
    margin: 20px auto 0;
    padding: 0;
    list-style: none;
  }
  &__infoListItem {
    margin: 5px 0;

    & a {
      font-size: 1vw;
      text-decoration: none;
      letter-spacing: .025em;
      color: currentColor;
      border-bottom: 1px solid fade-out(#ffffff, 0.8);

      &:hover {
        border-color: currentColor;
      }
    }
  }
}

.order {

  &__slider {
    position: relative;
    grid-column: 1/span 4;
    margin: 0 -15px;
    padding: 0;
    list-style: none;

    & .slick-list {
      max-height: 100%;
    }

    & .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 19px;
      height: 27px;
      padding: 0;
      font-size: 0;
      background: url(../img/slider-arrow.png) no-repeat 50% 50%/contain;
      border: none;
      cursor: pointer;
      outline: none;
      transition: transform .1s linear;

      &.slick-prev {
        left: -44px;
        &:hover {
          transform: translateY(-50%) scale(1.1, 1.1);
        }
        &:active {
          transform: translateY(-50%) scale(.9, .9);
        }
      }

      &.slick-next {
        right: -44px;
        transform: translateY(-50%) rotate(180deg);
        &:hover {
          transform: translateY(-50%) rotate(180deg) scale(1.1, 1.1);
        }
        &:active {
          transform: translateY(-50%) rotate(180deg) scale(.9, .9);
        }
      }
    }
  }

  &__sliderItem {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;

    & a {
      display: table;
      width: 100%;

      & img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__stage {
    background: #ffffff;

    &._wide {
      grid-column: 2/span 2;
    }

    &._stages {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35px;
        background: linear-gradient(to top, #ffffff, transparent);
        z-index: 2;
        pointer-events: none;
      }
    }

    &._service,
    &._total {
      position: relative;
    }
  }

  &__stageTitle {
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .05em;
    color: var(--accidental-tc);
    border-bottom: 1px solid #ebebeb;
  }
}

.stages {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
  border-left: 1px solid #ebebeb;

  &__block {
    height: calc(100% - 42px);
    overflow-y: scroll;
  }

  &__item {
    margin: 0;
    padding: 0 0 0 15px;
    color: #ebebeb;
    border-bottom: 1px solid currentColor;
  }

  &__itemName {
    position: relative;
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .05em;

    ._active & {
      color: var(--accidental-tc);
    }
  }

  &__itemFake {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    background: #ffffff;
    border: 1px solid currentColor;
    border-radius: 50%;
    z-index: 2;

    ._active & {
      border-color: currentColor;

      &::before {
        content: "";
        width: 7px;
        height: 7px;
        background: #f24841;
        border-radius: 50%;
      }
    }
    .stages__item:not(:last-child) &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 30px;
      background: currentColor;
    }
  }

  &__itemSubstage {
    margin: 0;
    padding: 0;
    list-style: none;

    .stages__item:not(._active) & {
      display: none;
    }
  }

  &__itemSubstageItem {
    padding: 5px 0;
    z-index: 3;

    & button {
      position: relative;
      width: 100%;
      padding: 0;
      font-size: 14px;
      font-family: inherit;
      text-align: left;
      color: #ebebeb;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;

      & > span:first-child {
        border-bottom: 1px solid transparent;
      }

      & ._fake {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: -37px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11px;
        height: 11px;
        background: #ffffff;
        border: 1px solid currentColor;
        border-radius: 50%;
        z-index: 2;

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          width: 1px;
          height: 30px;
          background: #ebebeb;
        }
      }
    }

    &._active ._fake::after {
      background: var(--accidental-tc);
    }

    &._active button {
      color: var(--accidental-tc);

      & > span:first-child {
        border-color: #ebebeb;
      }

      &:hover > span:first-child {
        border-color: currentColor;
      }

      & ._fake::before {
        content: "";
        width: 5px;
        height: 5px;
        background: #f24841;
        border-radius: 50%;
      }
    }

    &._active + & button {
      color: var(--accidental-tc);
      & ._fake {
        border-color: var(--accidental-tc);
      }
    }
  }
}

.service {

  &__panel {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
  }

  &__panelCancel {
    margin-right: 60px;
    padding: 0;
    font: 500 16px/1 $accidental-ff;
    color: var(--accidental-tc);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: color .1s linear;

    &:hover {
      color: #f24841;
    }
  }

  &__panelForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
  }
  &__panelFormFile {
    position: relative;

    & input {
      position: absolute;
      width: .1px;
      height: .1px;
      opacity: 0;
      overflow: hidden;
      z-index: -1;
    }

    & label {
      position: relative;
      display: block;
      font: 400 13px/1 $accidental-ff;
      color: var(--accidental-tc);
      border-bottom: 1px solid #ebebeb;
      cursor: pointer;
      outline: none;

      &:hover {
        border-color: currentColor;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        display: block;
        width: 8px;
        height: 14px;
        background: url(../img/file.png) no-repeat 50% 50%/contain;
      }
    }
  }

  &__panelFormControl {

    & button {
      height: 35px;
      font: 500 14px/1 $accidental-ff;
      text-transform: uppercase;
      letter-spacing: .075em;
      border: none;
      cursor: pointer;
      outline: none;

      &._next {
        width: 125px;
        color: #ffffff;
        background: #e75152;
        border-radius: 18px;
        &:hover {
          background: #f24841;
        }
      }
      &._back {
        color: var(--accidental-tc);
        background: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.service {
  box-sizing: border-box;
  height: calc(100% - 50px - 42px);
  padding: 10px 15px;
  background: #fbfbfb;
  overflow-y: scroll;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__listItem {
    display: block;
    margin: 0 0 5px;

    & button {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 40px;
      padding: 0 13px;
      font: 400 14px/1 $accidental-ff;
      color: var(--accidental-tc);
      background: #ffffff;
      border: 1px solid #ebebeb;
      border-radius: 3px;
      cursor: pointer;
      outline: none;

      &:hover {
        background: #fbfbfb;
      }

      &._selected {
        padding: 0 12px;
        border-width: 2px;
        border-color: #ffc60f;
      }

      & ._check {
        box-sizing: border-box;
        display: block;
        width: 11px;
        height: 11px;
        border: 1px solid #cdcdcd;
        border-radius: 50%;
      }

      &._selected ._check {
        position: relative;
        border-color: #ffc60f;

        &::after {
          content: "";
          position: absolute;
          left: 15%;
          transform: translateY(-40%) rotate(-45deg);
          display: block;
          width: 9px;
          height: 5px;
          border-bottom: 1px solid #000000;
          border-left: 1px solid #000000;
        }
      }
    }
  }
}

.total {
  box-sizing: border-box;
  height: calc(100% - 50px - 42px);
  padding: 10px 15px;
  overflow-y: scroll;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px;

    & ._name {
      font: 14px "Lato-Light";
      color: #c6c6c6;
    }
    & ._cost {
      font-size: 13px;
      font-weight: 700;
      color: var(-accidental-tc);
    }
  }

  &__panel {
    position: absolute;
    bottom: 0;
    left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    height: 50px;
    border-top: 1px solid #ebebeb;

    & p {
      margin: 0;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: .025em;
      color: #c6c6c6;

      &._number {
        font-size: 18px;
        font-weight: 700;
        color: var(--accidental-tc);
      }
    }
  }

  &__panelCount {
    display: table;
    font-size: 0;

    & button {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      font: 500 13px/1 $accidental-ff;
      letter-spacing: .025em;
      color: #e75152;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;

      &._current {
        font-weight: 400;
        color: #d4caca;
        cursor: default;
      }

      &._all::after {
        content: "/";
        margin: 0 3px;
        font-size: 13px;
        color: var(--accidental-tc);
      }
    }
  }

  &__panelSum {
    text-align: right;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 81vw;
  padding: 0 0 35px;

  &__cr {
    margin: 0;
    font-size: .9vw;
    font-family: "Lato-Light";
    letter-spacing: .025em;
    color: var(--dark-blue);
  }

  &__about {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @include dashed-btn(500, 1vw);

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 6px;
      background: url(../img/arrow-down.png) no-repeat 50% 50%;
      transition: bottom .2s ease-in-out;
      will-change: bottom;
    }

    &:hover::after {
      bottom: -20px;
    }
  }

  &__feedback {

  }

  &__feedbackCall {
    @include dashed-btn(400, 1vw);
  }

  &__feedbackPhone {
    margin-left: 30px;
    font: 500 .9vw/1 $accidental-ff;
    letter-spacing: .025em;
    color: var(--dark-blue);
  }
}

.limit {
  box-sizing: border-box;
  width: 100%;
  max-width: 1894px;
  margin: 0 auto;
}

._sectionTitle {
  font-size: 82px;
  font-weight: 700;
  letter-spacing: .05em;
}

.land {
  display: none;
  background: #ffffff;
}

.greet {
  padding: 260px 0 130px;
  color: #ffffff;
  background: url(../img/bg-greet.jpg) no-repeat 50% 50%/cover;

  &__title {
    margin: 0;
    font-size: 8vw;
    font-weight: 700;
    text-align: center;
    letter-spacing: .05em;
  }

  &__subtitle {
    margin: 40px 0;
    font-size: 2.5vw;
    text-align: center;
    line-height: 1.5;
    letter-spacing: .05em;
  }

  &__doc {
    display: block;
    margin: 0 auto;
  }

  &__btns {
    display: table;
    margin: 40px auto 0;
    font-size: 0;
  }

  &__btnsItem {
    display: inline-block;
    vertical-align: top;
    font-size: 2.5vw;

    &:not(:last-child)::after {
      content: "/";
      margin: 0 10px;
      font-size: inherit;
      color: #ffffff;
    }

    & a {
      position: relative;
      font-size: inherit;
      text-decoration: none;
      letter-spacing: .075em;
      color: #00a2ff;
      border-bottom: 3px solid fade-out(#00a2ff, .5);

      &:hover {
        border-color: currentColor;
      }
    }
  }
}

.prod {
  padding: 185px 0 70px;
  color: #ffffff;
  background: url(../img/bg-production.jpg) no-repeat 50% 50%/cover;

  & .limit {
    padding-left: 180px;
  }

  &__title {
    margin: 0 0 40px;
  }

  &__slider {
    display: flex;
    width: 100%;
  }

  &__sliderText {
    margin: 0 37px 0 0;
    padding: 0;
    list-style: none;
    font-size: 21px;
    width: 100%;
    max-width: 930px;
  }

  &__sliderTextItem {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 220px;
    line-height: 1.3;
    letter-spacing: 0.025em;
    color: #ffffff;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 190px;
      height: 2px;
      background: #ffffff;
    }
  }

  &__sliderImg {
    width: 100%;
    max-width: 767px;
    margin-top: 50px;

    & .slick-prev {
      display: none!important;
    }
  }

  &__sliderImgList {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 690px;
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      display: inline-block;
      vertical-align: top;
      width: 323px;
      margin: 0 20px;
      outline: none;

      &:not(.slick-current) {
        opacity: .5;
      }

      & img {
        display: block;
        width: 100%;
      }
    }
  }

  &__sliderImgNext {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 45px;
    margin-left: 20px;
    padding: 0;
    background: url(../img/arrow-right.png) no-repeat 50% 50%/contain;
    border: none;
    cursor: pointer;
    outline: none;
  }

  & .prod__sliderImgDots {
    display: flex;
    margin-top: 20px;
    padding: 0 20px;

    & li {
      width: auto;
      margin-left: 0;
      opacity: 1;
      &:not(:last-child) {
        margin-right: 6px;
      }
      & button {
        display: block;
        width: 35px;
        height: 6px;
        padding: 0;
        font-size: 0;
        background: #ffffff;
        border: none;
        opacity: .3;
        cursor: pointer;
        outline: none;
      }
      &.slick-active button{
        opacity: 1;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    max-width: 930px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__infoItem {

    & p {
      margin: 0;
      font-size: 24px;

      &._number {
        font-size: 134px;
        font-weight: 700;
        color: #ffcc00;
      }
    }
  }
}

.team {
  padding: 110px 0 115px;
  color: var(--accidental-tc);

  &__title {
    margin: 0;
    text-align: center;
  }

  &__subtitle {
    width: 100%;
    max-width: 1130px;
    margin: 35px auto 90px;
    font-size: 21px;
    text-align: center;
  }

  &__dm {

  }

  &__dmList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__dmListItem {
    margin: 0 20px;

    & button {
      display: block;
      padding: 0;
      font: 400 30px/1 $accidental-ff;
      color: var(--accidental-tc);
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
    }

    &:hover {
      text-decoration: underline;
    }

    &._active button {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  &__dmPeople {
    position: relative;
    width: 100%;
    max-width: 1648px;
    margin: 20px auto 0;
    padding: 0;
    list-style: none;

    & li {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      outline: none;

      &:hover .team__dmPeoplePhoto > div {
        display: flex;
      }
    }

    & .slick-arrow {
      position: absolute;
      top: 150px;
      transform: translateY(-50%);
      width: 28px;
      height: 43px;
      font-size: 0;
      border: none;
      cursor: pointer;
      outline: none;

      &.slick-prev {
        left: -45px;
        background: url(../img/arrow-left-black.png) no-repeat 50% 50%/contain;
      }
      &.slick-next {
        right: -45px;
        background: url(../img/arrow-right-black.png) no-repeat 50% 50%/contain;
      }
    }
  }

  &__dmPeoplePhoto {
    position: relative;
    width: 100%;
    max-width: 415px;

    & > img {
      display: block;
      width: 100%;
    }

    & > div {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background: fade-out(#333333, .2);

      & > p {
        margin: 0;
        color: #ffffff;
        &._post {
          font-size: 30px;
          letter-spacing: .05em;
        }
        &._email {
          font-size: 14px;
          color: #00a2ff;
        }
      }
    }
  }

  &__dmPeopleName {
    margin: 25px 0 0;

    & span {
      display: block;
      font-size: 24px;
      letter-spacing: .05em;
      &._surname {
        text-transform: uppercase;
        letter-spacing: .075em;
      }
    }
  }

  &__eng {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    padding-left: 120px;
  }

  &__engInfo {
    flex-basis: 520px;

    & p {
      margin: 0;
      font-size: 21px;
      line-height: 1.2;
      &._title {
        margin: 0 0 20px;
        font-size: 82px;
        font-weight: 700;
        line-height: 1;
      }
    }
  }

  &__engList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__engListItem {

    & img {
      display: block;
      width: 100%;
    }
  }
}

.about {
  padding: 300px 0 120px;
  text-align: center;
  color: #ffffff;
  background: url(../img/bg-about.jpg) no-repeat 50% 50%/cover;

  &__title {
    margin: 0;
  }

  &__subtitle {
    width: 100%;
    max-width: 927px;
    margin: 20px auto 50px;
    line-height: 1.2;
    letter-spacing: .025em;
  }

  &__totop {
    display: block;
    margin: 0 auto;
    padding: 20px 35px 20px 22px;
    font: 700 16px/1 $accidental-ff;
    color: #ffffff;
    background: none;
    border: 1px solid currentColor;
    border-radius: 6px;
    cursor: pointer;
    outline: none;

    & span {
      position: relative;
      border-bottom: 1px dashed fade-out(#ffffff, .5);

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -15px;
        transform: rotate(180deg);
        width: 7px;
        height: 4px;
        background: url(../img/arrow-down-wh.png) no-repeat 50% 50%/contain;
      }
    }

    &:hover span {
      border-color: #ffffff;
    }
  }

  &__video {
    display: table;
    margin: 80px auto 0;
    text-decoration: none;
    color: #ffffff;

    &:hover > div {
      border-color: currentColor;
    }

    & > div {
      box-sizing: border-box;
      position: relative;
      width: 75px;
      height: 75px;
      margin: 0 auto;
      border: 3px solid #6c6d6f;
      border-radius: 50%;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        border-left: 17px solid currentColor;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }
    }

    & p {
      margin: 15px 0 0;
    }
  }
}

.history {
  position: relative;

  &__title {
    position: absolute;
    top: 120px;
    width: 100%;
    margin: 0;
    text-align: center;
    z-index: 2;
  }

  &__subtitle {
    position: absolute;
    top: 250px;
    width: 100%;
    margin: 0;
    text-align: center;
    z-index: 2;
  }

  &__slider {
    margin: 0;
    padding: 0;
    list-style: none;

    & .slick-arrow {
      position: absolute;
      top: 550px;
      font: 400 16px/1 $accidental-ff;
      color: #b1b4b4;
      background: none;
      border: none;
      z-index: 2;
      cursor: pointer;
      outline: none;

      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 65px;
        height: 65px;
        border-radius: 50%;
      }

      &.slick-prev {
        left: 66%;
        &::before {
          transform: translateX(-50%) rotate(180deg);
          background: #e54b4b url(../img/arrow-thin-white.png) no-repeat 50% 50%;
        }
      }
      &.slick-next {
        left: 73%;
        &::before {
          background: #e54b4b url(../img/arrow-thin-white.png) no-repeat 50% 50%;
        }
      }

      &.slick-disabled {
        cursor: default;
        opacity: .5;
      }
    }

    & .slick-dots {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 360px;
      margin: 0;
      padding: 0;
      list-style: none;
      color: #c6c6c6;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: block;
        width: 98%;
        height: 4px;
        background: currentColor;
      }

      & li {}

      & button {
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        padding: 0;
        font-size: 0;
        color: currentColor;
        background: currentColor;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
      }

      & li.slick-active button::after {
        content: "";
        width: 6px;
        height: 6px;
        background: #e54b4b;
        border-radius: 50%;
      }
    }
  }

  &__sliderItem {
    padding: 340px 0 75px 140px;
    outline: none;

    &:nth-child(odd) {
      background: linear-gradient(-70deg, #d7dbdb 0, #d7dbdb 30%, #ffffff 30%, #ffffff 100%);

      & .history__sliderItemInfo .text {
        background: #d7dbdb;
      }
    }
    &:nth-child(even) {
      background: linear-gradient(-70deg, #ffffff 0, #ffffff 30%, #d7dbdb 30%, #d7dbdb 100%);

      & .history__sliderItemInfo .text {
        background: #ffffff;
      }
    }
  }

  &__sliderItemInfo {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 520px;

    & .year {
      margin: 0;
      text-align: right;
      color: var(--accidental-tc);

      & ._number {
        display: block;
        font-size: 36px;
        font-weight: 700;
      }
      & ._title {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: #928f8f;
      }
    }

    & .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 250px;
      padding: 20px 70px;
      border-radius: 6px;

      & span {
        display: block;
        margin: 10px 0;
      }
    }
  }

  &__sliderItemImg {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;

    & img {
      display: block;
      width: 460px;
    }

    & ._year {
      position: absolute;
      left: 30px;
      bottom: 40px;
      transform: skew(-25deg);
      display: block;
      margin: 0;
      padding: 10px 40px;
      font-size: 32px;
      color: #ffffff;
      background: #e54b4b;

      & span {
        display: block;
        transform: skew(25deg);
      }
    }
  }
}

.partners {
  padding: 180px 0;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 1648px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  &__listItem {
    text-align: center;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 190px;

      & img {
        display: block;
      }
    }
    & p {
      margin: 30px 0 0;
      font-size: 15px;
      text-decoration: underline;
      line-height: 1.2;
      letter-spacing: .05em;
      color: #062032;
    }
  }
}

.map {
  & img {
    display: block;
    width: 100%;
  }
}

.landfooter {
  position: relative;
  box-shadow: 0 -3px 5px -2px fade-out(#000000, .58);

  & .limit {
    width: 100%;
    max-width: 1648px;
    margin: 0 auto;
  }

  &__con {
    display: flex;
    margin: 0;
    padding: 60px 0 40px;
    list-style: none;
  }

  &__conItem {
    color: var(--accidental-tc);

    &._wide {
      flex: 1 1 auto;
      margin-left: 130px;
    }

    & p {
      margin: 10px 0 0;
      font-size: 18px;
      &._accent {
        margin: 0;
        font-weight: 500;
      }
    }

    & a {
      display: block;
      margin: 10px 0 0;
      text-decoration: none;
      color: currentColor;

      &._mail {
        color: #37b6ff;
      }
    }
  }

  &__conItemSocial {
    display: table;
    margin: 20px 0 0 auto;
    padding: 0;
    font-size: 0;
    list-style: none;

    & li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;

      & a {
        display: block;
        & img {
          display: block;
        }
      }
    }
  }

  &__info {
    padding: 25px 0;
    border-top: 1px solid #c2c2c2;

    & .limit {
      display: flex;
      justify-content: space-between;
    }
  }

  &__infoCr {
    margin: 0;
    font-size: 13px;
    color: #cecece;
  }

  &__infoNav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      margin: 0 8px;

      & button {
        display: block;
        padding: 0;
        font: 500 18px/1 $accidental-ff;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .home {
    grid-template-rows: 30vh 30vh;
  }

  .category {

    &__info {
      top: 75%;
    }
  }

  .greet {
    &__title {
      font-size: 150px;
    }
    &__subtitle {
      font-size: 48px;
    }
    &__btnsItem {
      font-size: 48px;
    }
  }
}