html {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fafbfc;
}

main {
  width: 81vw;
  margin: 0;
}

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  display: block;
}
.header__logo img {
  display: block;
  width: 190px;
}
.header__profile {
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.header__profile img {
  display: block;
  width: 100%;
}

.home {
  display: -ms-grid;
  display:     grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 50px 50px;
  grid-template-rows: 50px 50px;
}
.home__block {
  background: #000000;
}
