@font-face {
  font-family: 'Lato-Light';
  src: url(../fonts/Lato-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Segui';
  src: url(../fonts/segoeui.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segui';
  src: url(../fonts/seguisb.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --dark-blue: #5d6f7b;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segui', segoe;
  background: #fafbfc url(../img/bg.jpg) no-repeat 50% 50%/cover;
}

.wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

main {
  width: 81vw;
  margin: 0;
}

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  display: block;
}
.header__logo img {
  display: block;
  width: 14vw;
}
.header__profile {
  display: block;
  width: 2vw;
  height: auto;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.header__profile img {
  display: block;
  width: 100%;
}

.section {
  display: -ms-grid;
  display:     grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 255px 255px;
  grid-template-rows: 255px 255px;
  grid-gap: 30px;
  margin: 20px 0 0;
}
.section._home {
  display: none;
}

.category {
  position: relative;
  padding-top: 50px;
  background: #dddddd;
  overflow: hidden;
}
.category._wide {
  -ms-grid-column-span: 2;
  -ms-grid-column: 2;
      grid-column: 2/span 2;
}
.category._materials {
  background: #8269be;
}
.category._microelectronic {
  background: #17b539;
}
.category._cable {
  background: #fb9b2a;
}
.category._plastic {
  background: #0bbcd6;
}
.category._packing {
  background: #e75152;
}
.category._calculate {
  background: #5f89a9 url(../img/percent.png) no-repeat -50px calc(100% + 75px);
}
.category:not(._list) {
  cursor: pointer;
}
.category__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  max-height: 200px;
  transition: transform .3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  will-change: transform;
}
.category._list:hover .category__bg {
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
}
.category__info {
  position: relative;
  top: 65%;
  color: #ffffff;
  transition: top .2s ease-in-out;
  will-change: top;
}
.category._list:hover .category__info {
  top: 0;
}
.category__infoTitle {
  display: table;
  max-width: 80%;
  margin: 0 auto;
  font-size: 1vw;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .024em;
  color: currentColor;
}
.category._list .category__infoTitle::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 4px;
  margin-left: 8px;
  background: url(../img/arrow-down-wh.png) no-repeat 50% 50%;
}
.category__infoTitle span {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.category:hover .category__infoTitle::after {
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}
.category:not(._list):hover .category__infoTitle span {
  border-color: currentColor;
}
.category__infoList {
  max-width: 80%;
  margin: 20px auto 0;
  padding: 0;
  list-style: none;
}
.category__infoListItem {
  margin: 5px 0;
}
.category__infoListItem a {
  font-size: 1vw;
  text-decoration: none;
  letter-spacing: .025em;
  color: currentColor;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.category__infoListItem a:hover {
  border-color: currentColor;
}

.order__slider {
  display: -ms-grid;
  display:     grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  -ms-grid-column-span: 4;
  -ms-grid-column: 1;
      grid-column: 1/span 4;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order__sliderItem {
  display: inline-block;
  vertical-align: top;
  background: #eeeeee;
}

.order__stage {
  background: #eeeeee;
}
.order__stage._wide {
  -ms-grid-column-span: 2;
  -ms-grid-column: 2;
      grid-column: 2/span 2;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 81vw;
  padding: 0 0 35px;
}
.footer__cr {
  margin: 0;
  font-size: .9vw;
  font-family: 'Lato-Light';
  letter-spacing: .025em;
  color: var(--dark-blue);
}
.footer__about {
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  padding: 0 0 2px;
  font: 500 1vw 'Segui', segoe;
  letter-spacing: .025em;
  color: var(--dark-blue);
  background: none;
  border: none;
  border-bottom: 1px dashed currentColor;
  cursor: pointer;
  outline: none;
  transition: border-color .1s ease-in-out;
}
.footer__about:hover {
  border-color: transparent;
}
.footer__about::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  width: 10px;
  height: 6px;
  background: url(../img/arrow-down.png) no-repeat 50% 50%;
  transition: bottom .2s ease-in-out;
  will-change: bottom;
}
.footer__about:hover::after {
  bottom: -20px;
}
.footer__feedbackCall {
  padding: 0 0 2px;
  font: 400 1vw 'Segui', segoe;
  letter-spacing: .025em;
  color: var(--dark-blue);
  background: none;
  border: none;
  border-bottom: 1px dashed currentColor;
  cursor: pointer;
  outline: none;
  transition: border-color .1s ease-in-out;
}
.footer__feedbackCall:hover {
  border-color: transparent;
}
.footer__feedbackPhone {
  margin-left: 30px;
  font: 500 .9vw/1 'Segui', segoe;
  letter-spacing: .025em;
  color: var(--dark-blue);
}

@media screen and (min-width: 1800px) {
  .home {
    -ms-grid-rows: 30vh 30vh;
    grid-template-rows: 30vh 30vh;
  }
  .category__info {
    top: 75%;
  }
}
